
*
{
margin:0;
padding:0;
box-sizing:border-box;
}
html,body
{
height:100%;
width:100%;
}
/* .main{
    overflow: hidden;
} */

.mouse{
    position: absolute;
    top: 0;
    z-index: 3;
    left: 0;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
}
.section-part1{
   min-height: 100vh;
    width: 100%;
    background-blend-mode: multiply;
    position: relative;
    background-color: black;
}

.section-part1 img{
    width: 100%;
    height: 100vh;
    position: absolute;

}
.section-part1 .image2{
    object-fit: cover;
}
.section-part1 .title{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    opacity: 1;
    transform: translate(-50%,-50%);
}
.section-part1 p{
    font-size: 18px;
    color: aliceblue;
}
.section-part1 .title h1{
    font-size: 64px;
    padding: 10px 30px;
    color: rgb(110, 31, 38);
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin-left: 16%;
    margin-top: 15px;
    display: block;
    -webkit-text-stroke: 2px white;
    border: 4px solid rgb(92, 91, 91);
    position: relative;
    cursor: pointer;
    transition: .5s;
    width: 100%;
    overflow: hidden;
}
 .section-part1 .title h1::before{
    display: block;
    position: absolute;
    background-color: rgba(211, 190, 190, 0.205);
    width: 100%;
    height: 100%;
    content: '';
    top: 100%;
    left: 0px;
    transition: .7s;
    z-index: 1;
} 
.section-part1 .title .heading:hover{
    color: rgb(233, 35, 35);
}
.section-part1 .title .heading:hover::before{
    top: 0;
} 